{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}

   <h1>About</h1>
   <p>Dit pronject is gemaakt voor het Webtech project van periode 1.3</p>
   <p>Om dit prject te kunnen gebruiken met je eerst een account aanmaken:</p>
   <ol>
      <li>Vervolgens kan je je noties maken en poslaan</li>
      <li>Je kan je notities bewerken als je aanpassingen wit maken</li>
      <li>Of je kan je notities verwijderen waaneer je er klaar mee bent</li>
      <li>Je notities worden gelijk opgeslagen. je kan dus gerust uitloggen</li>
      <li>Zodra je weer inlogged vind je all je notities weer terug.</li>
   </ol>




{% endblock %}
