{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Notes</h1>
  <div class="notes-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for note in user.notes %}
    <div class="note-item" style="display: inline-block; margin: 10px; width: 200px; height: 200px; background-color: darkgray; text-align: center; position: relative;">
      <div class="note-content" style="color: black;">
        {{ note.data }}
      </div>
      <button type="button" class="close" onClick="deleteNote({{ note.id }})" style="position: absolute; top: 0; left: 0; color: darkred;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>
  
  <br> <!-- Add a line break for spacing -->
  
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
  {% endblock %}